body {
  background-color: #262626;
}
/* Override Bootstrap responsive settings for larger screens and constrain to 940px */
@media (min-width: 980px) {
  .navbar .container {
    max-width: 940px;
  }
}
#social-links {
  padding: 60px 0px 20px 0px;
  font-size: 6em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  #social-links div[class*='span'] {
    padding-bottom: 40px;
  }
}
#social-links a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -mos-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#social-links a:hover,
#social-links a:focus {
  font-size: 1.2em;
}
